@import "tailwindcss";

:root {
    --primary: #1a1b28;
    --secondary: #1e2435;
    --accent: #52c9dc;
    --bg: #2d2f3a;
}

body {
    background: #2D2F3A;
    background: radial-gradient(circle, var(--bg) 0%, var(--primary) 100%);
    color: white;
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-accent {
    background-color: var(--accent);
}

.text-accent {
    color: var(--accent);
}

.no-line-h {
  line-height: 1;
}

@utility btn {
    @apply px-7;
    @apply py-5; 
    @apply text-center;
    @apply text-2xl;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply rounded-md;
}